{% extends 'base.template.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Autoridad' %}{% endblock %}
{% block contenido %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-left">{% if not form.instance.pk %}{% trans 'Registrar' %}{% else %}{% trans 'Actualizar' %}{% endif %}</h4>
        </div>

        <div class="panel-body">
            <form action="" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
{% csrf_token %}
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group {% if form.nombre.errors %}has-error{% endif %}">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre.auto_id }}">
                                {{ form.nombre.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">{{ form.nombre }}</div>
                                {% include 'base.form.errors.html' with form_errors=form.nombre.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group {% if form.apellido.errors %}has-error{% endif %}">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.apellido.auto_id }}">
                                {{ form.apellido.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">{{ form.apellido }}</div>
                                {% include 'base.form.errors.html' with form_errors=form.apellido.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group {% if form.cedula.errors %}has-error{% endif %}">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cedula.auto_id }}">
                                {{ form.cedula.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">{{ form.cedula }}</div>
                                {% include 'base.form.errors.html' with form_errors=form.cedula.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group {% if form.numero_mpps.errors %}has-error{% endif %}">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.numero_mpps.auto_id }}">
                                {{ form.numero_mpps.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">{{ form.numero_mpps }}</div>
                                {% include 'base.form.errors.html' with form_errors=form.numero_mpps.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group {% if form.profesion.errors %}has-error{% endif %}">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.profesion.auto_id }}">
                                {{ form.profesion.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">{{ form.profesion }}</div>
                                {% include 'base.form.errors.html' with form_errors=form.profesion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group {% if form.ocupacion.errors %}has-error{% endif %}">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.ocupacion.auto_id }}">
                                {{ form.ocupacion.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">{{ form.ocupacion }}</div>
                                {% include 'base.form.errors.html' with form_errors=form.ocupacion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group {% if form.direccion.errors %}has-error{% endif %}">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.direccion.auto_id }}">
                                {{ form.direccion.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">{{ form.direccion }}</div>
                                {% include 'base.form.errors.html' with form_errors=form.direccion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <a href="{% url 'defuncion' %}" class="btn btn-primary btn-sm">Atrás</a>
                    <button type="reset" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Limpiar' %}</button>
                    <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">{% if not form.instance.pk %}{% trans 'Registrar' %}{% else %}{% trans 'Actualizar' %}{% endif %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
