{% extends 'base.template.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Usuario' %}{% endblock %}
{% block contenido %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-left">Listar</h4>
        </div>

        <div class="panel-body">
            <div class="row table-responsive">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-striped table-hover table-bordered display dataTable blue-table" id="tabla">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                                <th>Operación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for perfil in object_list %}
                                <tr>
                                <td> {{ perfil.user.username }} </td>
                                <td> {{ perfil.user.first_name }} </td>
                                <td> {{ perfil.user.last_name }} </td>
                                <td> {{ perfil.user.email }} </td>
                                <td> {{ perfil.telefono }} </td>
                                <td> <a href="{% url 'usuario_actualizar' perfil.user.id %}" data-toggle="tooltip" title="Actualizar"><i class="fa fa-pencil"></i></a> <a href="{% url 'usuario_eliminar' perfil.user.id %}" data-toggle="tooltip" title="Eliminar"><i class="fa fa-remove"></i></a> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_footer %}
    <script type="text/javascript">
        $(document).ready(function() {
            var tabla= $('#tabla').DataTable({
                "language": {
                    "sProcessing":     "Procesando...",
	                "sLengthMenu":     "Mostrar _MENU_ registros",
	                "sZeroRecords":    "No se encontraron resultados",
	                "sEmptyTable":     "Ningún dato disponible en esta tabla",
	                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
	                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
	                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
	                "sInfoPostFix":    "",
	                "sSearch":         "Buscar:",
	                "sUrl":            "",
	                "sInfoThousands":  ",",
	                "sLoadingRecords": "Cargando...",
	                "oPaginate": {
		                "sFirst":    "Primero",
		                "sLast":     "Último",
		                "sNext":     "Siguiente",
		                "sPrevious": "Anterior"
	                },
	                "oAria": {
		                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
		                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
	                },
                },
                /*"autoWidth": false,
                "columnDefs": [
                    { "width": "150px", "targets": 0 },
                    { "width": "250px", "targets": 1 },
                    { "width": "250px", "targets": 2 },
                    { "width": "250px", "targets": 3 },
                    { "width": "150px", "targets": 4 },
                    { "width": "100px", "targets": 5 },
                ],*/
            });

            new $.fn.dataTable.Buttons(tabla, {
            buttons: [
                {
                    extend: 'copyHtml5',
                },
                {
                    extend: 'csvHtml5',
                    fieldBoundary: '',
                },
                {
                    extend: 'excelHtml5',
                },
                {
                    extend: 'pdfHtml5',
                },
                {
                    extend: 'print',
                },
              ],
            });
            tabla.buttons().container().appendTo(tabla.table().container());
        });
    </script>
{% endblock %}
